*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Inter', sans-serif ;
}

.nav-bar{
    background-color: #fff ;
    border-bottom: 2px solid #000  ;
}
.container{
    max-width: 1360px ;
    margin: 0 auto;
}

.nav-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 ;
}

.nav-bar img{
    width: 139px ;
    height: auto ;
}

.nav-bar-links {
    text-decoration: none;
    display: flex;
    gap: 32px;
    list-style: none;
    
}

.nav-bar-links a {
    text-decoration: none;
    display: flex;
    gap: 32px;
    color: black;
    
}

.nav-button {
    background-color:#469165 ;
    padding: 12px 16px ;
    border-radius: 4px ;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 6500;
    line-height: normal;
}

.hero{
    
    background-image: url(./assets/hero-bg.png), linear-gradient(rgba(25,49,80, .8));
}

.hero-container{
    padding: 116px 0 180px ;
    margin: 0 auto;
    max-width: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section-label{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #fff;
    border-radius:300px ;
    width: fit-content
}

.section-label img{
    width: 24px ;
    height: 24px ;
    margin-right: 8px ;
    align-self: center ;
    
}

.section-label p{
    color: #469165;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 30px;
    gap: 12px;
}

.hero-content p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-align: center
}

.hero-content h1{
    font-size: 72px ;
    font-weight: 700 ;
    line-height: 84px ;
    color: #FFFFFF ;
    text-align: center;
    
}
.hero-content span{
    color: #469165;
}
 .btn-container{
    display: flex;
    gap: 16px
    
 }

 .icon-btn{
    background-color: #469165;
    padding: 12px 16px ;
    border-radius: 4px ;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 8px ;
 }

 .btn-container svg{
    width: 20px ;
    height: 20px ;
    fill: #FFFFFF ;
 }

.feature{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.content h2{
  font-size: 48px ;
  font-width: 700 ;
  line-height: normal;
  text-align: center;
}

.content p{
  font-size: 16px ;
  font-width: 700 ;
  line-height: normal;
  text-align: center;
  color: #627382;
}

.card-container{
    display: flex;
    justify-self: space-between;
    gap: 16px;
}

.card-container img{
    background-color: #F95555;
    padding: 16px;
    border-radius: 100px ;

}

.card{
    display:flex ;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding:60px 24px ;
    gap: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    text-align: center;
}

.card p{
    color: #627382 ;
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 20px;
    
}
